[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vladmunthiu
[access "refs/for/refs/*"]
	read = group user/vladmunthiu
	push = group user/vladmunthiu
	label-Code-Review = -2..+2 group user/vladmunthiu
	label-Verified = -1..+1 group user/vladmunthiu
	rebase = group user/vladmunthiu
	removeReviewer = group user/vladmunthiu
	submit = group user/vladmunthiu
[access "refs/heads/*"]
	read = group user/vladmunthiu
	create = group user/vladmunthiu
	push = +force group user/vladmunthiu
	pushMerge = group user/vladmunthiu
[access "refs/tags/*"]
	push = +force group user/vladmunthiu
	pushTag = group user/vladmunthiu
	pushSignedTag = group user/vladmunthiu
